.Box {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(226, 232, 240);
}

.Box:last-child {
    margin-bottom: 0.5rem;
}

.Box > * {
    margin: 0.5rem;
    font-size: x-large;
}

.Stack {
    /* Same height as 6 box children */
    max-height: calc(6 * 3.625rem);
    overflow-y: auto;
}
